NodeRed/NodeRed Flows.json
[{"id":"4137de3.473952","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d548acb.849886","type":"debug","z":"4137de3.473952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"ea365a3f.a4f498","type":"function","z":"4137de3.473952","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["3d548acb.849886","85d8db11.28f1c8"]]},{"id":"4aafa98f.857cf8","type":"function","z":"4137de3.473952","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":240,"wires":[["3d548acb.849886","f8d5c0a8.237a"]]},{"id":"193a6c14.706334","type":"function","z":"4137de3.473952","name":"mammal","func":"msg.payload=msg.payload.d.mammal\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["3d548acb.849886","ad315fa0.cbc3e"]]},{"id":"85d8db11.28f1c8","type":"ui_gauge","z":"4137de3.473952","name":"Temperature","group":"30cedfb5.68cf","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#f9f901","#c54444"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"f8d5c0a8.237a","type":"ui_gauge","z":"4137de3.473952","name":"Humidity","group":"30cedfb5.68cf","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"ad315fa0.cbc3e","type":"ui_gauge","z":"4137de3.473952","name":"Mammal","group":"30cedfb5.68cf","order":1,"width":0,"height":0,"gtype":"gage","title":"Mammal","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":280,"wires":[]},{"id":"a55afcb7.ace42","type":"http request","z":"4137de3.473952","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://ebc43d84-877b-439c-be4f-3f20160e4b30-bluemix.cloudant.com/securitycamera/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":380,"wires":[["3d8155f9.6ffeea","d0e00981.4e0878"]]},{"id":"d6e52102.23659","type":"ui_button","z":"4137de3.473952","name":"Siren On","group":"30cedfb5.68cf","order":4,"width":0,"height":0,"passthru":false,"label":"Siren On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"sirenon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":260,"y":540,"wires":[["47711c6a.429f64","15a4e5bb.7a062a"]]},{"id":"3faaec28.192c84","type":"ui_button","z":"4137de3.473952","name":"Siren Off","group":"30cedfb5.68cf","order":5,"width":0,"height":0,"passthru":false,"label":"Siren Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"sirenoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":260,"y":580,"wires":[["47711c6a.429f64","15a4e5bb.7a062a"]]},{"id":"47711c6a.429f64","type":"debug","z":"4137de3.473952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":600,"wires":[]},{"id":"d3d57ff9.bc6f9","type":"ibmiot in","z":"4137de3.473952","authentication":"apiKey","apiKey":"24a5c269.c5d30e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1111","applicationId":"","deviceType":"Raspberry_Pi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":140,"wires":[["3d548acb.849886","ea365a3f.a4f498","4aafa98f.857cf8","193a6c14.706334","c093c156.dbd0d"]]},{"id":"15a4e5bb.7a062a","type":"ibmiot out","z":"4137de3.473952","authentication":"apiKey","apiKey":"24a5c269.c5d30e","outputType":"cmd","deviceId":"1111","deviceType":"Raspberry_Pi","eventCommandType":"smartcrop","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":680,"wires":[]},{"id":"6f8ca0f1.dcff1","type":"inject","z":"4137de3.473952","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":380,"wires":[["a55afcb7.ace42"]]},{"id":"3d8155f9.6ffeea","type":"debug","z":"4137de3.473952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":380,"wires":[]},{"id":"d0e00981.4e0878","type":"function","z":"4137de3.473952","name":"image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":440,"wires":[["3d8155f9.6ffeea","81921d36.08017"]]},{"id":"81921d36.08017","type":"ui_template","z":"4137de3.473952","group":"30cedfb5.68cf","name":"","order":6,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":440,"wires":[[]]},{"id":"e288b40b.8a1cb8","type":"ui_button","z":"4137de3.473952","name":"Motor On","group":"30cedfb5.68cf","order":7,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":260,"y":700,"wires":[["47711c6a.429f64","15a4e5bb.7a062a"]]},{"id":"54a9c45f.58b01c","type":"ui_button","z":"4137de3.473952","name":"Motor Off","group":"30cedfb5.68cf","order":8,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":260,"y":740,"wires":[["47711c6a.429f64","15a4e5bb.7a062a"]]},{"id":"d4782c93.f5f98","type":"ui_gauge","z":"4137de3.473952","name":"Soil Moisture","group":"30cedfb5.68cf","order":9,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":320,"wires":[]},{"id":"c093c156.dbd0d","type":"function","z":"4137de3.473952","name":"soilmoisture","func":"msg.payload=msg.payload.d.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":320,"wires":[["d4782c93.f5f98","3d548acb.849886"]]},{"id":"f4d32bdf.d9b708","type":"ui_button","z":"4137de3.473952","name":"Blinking LED On","group":"30cedfb5.68cf","order":10,"width":0,"height":0,"passthru":false,"label":"Blinking LED On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"ledon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":280,"y":620,"wires":[["47711c6a.429f64","15a4e5bb.7a062a"]]},{"id":"65c3e328.bc5e1c","type":"ui_button","z":"4137de3.473952","name":"Blinking LED Off","group":"30cedfb5.68cf","order":11,"width":0,"height":0,"passthru":false,"label":"Blinking LED Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"ledoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":280,"y":660,"wires":[["47711c6a.429f64","15a4e5bb.7a062a"]]},{"id":"30cedfb5.68cf","type":"ui_group","name":"Smart Crop Protection","tab":"2f8bb1b3.c2912e","order":1,"disp":true,"width":"6","collapse":false},{"id":"24a5c269.c5d30e","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"woms6o.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2f8bb1b3.c2912e","type":"ui_tab","name":"Smart Crop","icon":"dashboard","disabled":false,"hidden":false}]